<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>173355492394-kjhqjeslltvasdsu2vvbm7n6n4pf1og8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.173355492394-kjhqjeslltvasdsu2vvbm7n6n4pf1og8</string>
	<key>API_KEY</key>
	<string>AIzaSyA_Pt-eCDB6QkIZ6oy2PXALYCAMeOHXPZY</string>
	<key>GCM_SENDER_ID</key>
	<string>173355492394</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.legendbae</string>
	<key>PROJECT_ID</key>
	<string>legendbae-6f111</string>
	<key>STORAGE_BUCKET</key>
	<string>legendbae-6f111.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:173355492394:ios:5d928dd21c65382778cf53</string>
</dict>
</plist>